.employee-edit-form-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.705);
    display: flex;
    justify-content: center;
    align-items: center;
}
.employee-edit-form {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9ee;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.employee-edit-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.employee-edit-form input {
    width: calc(50% - 12px);
    padding: 10px;
    margin: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.employee-edit-form button {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    background: #452380;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.employee-edit-form button:hover {
    background: #361a6a;
    transition: background 0.3s ease;
}
.btn-delete-emp{
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.btn-delete-emp:hover{
    background-color: #da190b;
}
.btn-edit-emp{
    background-color: #f49e36; /* Red */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.btn-edit-emp:hover{
    background-color: #ffb255;
}